[Desktop Entry]
Encoding=UTF-8
Version=0.9.40
Type=Application
Name=Superswitcher
Comment=Offers an overview of all opened windows on all workspaces, allows to easily switch workspace (Fn keys), activate a window (keyboard arrows, mouse click) or even filter by name and review matched (type part of name).
Exec=/org/gourichon/localdata/SG/projects/free_software_involvement/bydate/2018/2018-09-14/superswitcher.OSID_ubuntu-19.10.installtree/bin/superswitcher
# OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
